@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    font-family: 'Inknut Antiqua';
    position: relative;

    
    background-image: url('../assets/contatoImage.png');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

header {
    position: relative;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    margin-top: 10px;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 100px;
}
header nav ul li a{
    text-decoration:none;
    color: #FFEBAA;
    font-family: 'Inknut Antiqua';
    position: relative;
}
header nav ul li a::before,
header nav ul li a::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border:2px solid #FFEBAA;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin: -7px;
}
header nav ul li a:hover::before,
header nav ul li a:hover::after{
    opacity: 1;    
}
header nav ul li a::before{
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}
header nav ul li a::after{
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

#title{
    color: #FFEBAA;
    font-size: 1.6rem;
    margin-top: 100px;
}
#subtitle{
    color: #ffffff;
    font-size: 1rem;
    margin-top: 55px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Inika";
     font-weight: 300;
}

.hero{
    position: relative;
    margin-top: 40%;
    position: relative; /* Essencial para posicionar a imagem de fundo e o menu */
    width: 100%; 
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinha o heromenu na parte inferior */
    align-items: center;
    
}
.heromenu {
    z-index: 10; 
    justify-content: center;
    display: flex;
    gap: 10%; 
}
.thumbnail{
    cursor: pointer; 
    transition: border 0.3s ease, transform 0.3s ease; /* Transições para hover e clique */
    border: 2px solid transparent;
    border-radius: 30px;
    
}
.thumbnail:hover {
    border-color: #FFEBAA;
    transform: scale(1.05); 
}


#heroback { 
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover; /* Faz a imagem cobrir o contêiner */
    background-position: center; /* Centraliza a imagem */
    transition: background-image 0.5s ease-in-out; /* Transição suave na mudança */
    background-image: url('../assets/livrosbackgroud.png'); 
}